# 2. Types and Values

**A Simple Overvies**

In [1]:
x = 7 
print(x)
print(type(x))

x = 7.0
print(x)
print(type(x))

x = 'String Type'
print(x)
print(type(x))

x = None
print(x)
print(type(x))

# Python uses a form of dynamic typing sometimes called duck typing where the type of a value is 
# determined by the value itself

7
<class 'int'>
7.0
<class 'float'>
String Type
<class 'str'>
None
<class 'NoneType'>

**2.1 String**

In [2]:
# In Python 3, all types are classes, even the built-in types

x = 'Seven' # string is wrapped in single quote marks and there is not difference in '' and "" but pick one and
            # stick with it.
print('x is {}'.format(x))
print('type of x is {}'.format(type(x)))


# Create a multi line string
x = '''
 this 
 is 
 a 
 muiltiline
 string
'''
print(x)

x = 'seven'

x is Seven
type of x is <class 'str'>

 this
 is
 a
 muiltiline
 string

In [3]:
# String are objects so we can run method of string class in this object

print(x.capitalize())
print(x.upper())
print('{} , {}'.format(8,9))
print('{1} , {0}'.format(8,9))
print('{1:<9} , {0:>9}'.format(8,9))
print('"{1:<9}" "{0:>9}"'.format(8,9))
print('{1:<09} " " {0:>09}'.format(8,9))

a,b = 1,2
x = f'this is exaple of f string {a}, {b}' # this will work in 3.6 or above
print(x)

Seven
SEVEN
8 , 9
9 , 8
9         ,         8
"9        " "        8"
900000000 " " 000000008
this is exaple of f string 1, 2

**2.2 Numeric Types**

In [4]:
# First is integer type
x = 7
print('value of x is {}'.format(x))
print(type(x))
print()

value of x is 7
<class 'int'>

In [5]:
x = 7 * 2
print('value of x is {}'.format(x))
print(type(x))
print()

value of x is 14
<class 'int'>

In [6]:
x = 7 * .2
print('value of x is {}'.format(x))
print(type(x))
print()

value of x is 1.4000000000000001
<class 'float'>

In [7]:
x = 7/2
print('value of x is {}'.format(x))
print(type(x))
print()

value of x is 3.5
<class 'float'>

In [8]:
x = 7//2
print('value of x is {}'.format(x))
print(type(x))
print()

x = 7%2
print('value of x is {}'.format(x))
print(type(x))
print()

value of x is 3
<class 'int'>

value of x is 1
<class 'int'>

In [9]:
# there is a problem float. Dont use this for money 
x = .1 + .1 + .1 - .3
print('result = {}'.format(x))

result = 5.551115123125783e-17

In [10]:
# Solution of the problem is use decimal instead of float if you want accuracy over precision

from decimal import *
a = Decimal('.1')
b = Decimal('.2')
c = Decimal('.3') # use '' or ""
x = a + b -c
print('value of x is {}'.format(x))
print('class of x is {}'.format(type(x)))

value of x is 0.0
class of x is <class 'decimal.Decimal'>

**2.3 Bool Type**

In [11]:
x = True

print('value is {}'.format(x))
print('class is {}'.format(type(x)))

value is True
class is <class 'bool'>

In [12]:
x = 5 < 6

print('value is {}'.format(x))
print('class is {}'.format(type(x)))

value is True
class is <class 'bool'>

In [13]:
# There is another type which is None the the only possible value for it is none

a = None
if a:
    print("True")
else:
    print("False")
    
a = ''
if a:
    print("True")
else:
    print("False")
    
a = 0
if a:
    print("True")
else:
    print("False")

False
False
False

**2.4 Sequence Type**

In [14]:
x = [1, 2, 3, 4, 5]

for i in x:
    print(i, end = ' ', flush = True)
print()
# A tuple is exactly like a list, only it's immutable
x = (1, 2, 3, 4, 5) 

# uncomment next line and get an error
# x[3] = 21
for i in x:
    print(i, end = ' ', flush = True)

1 2 3 4 5
1 2 3 4 5

In [15]:
# Create a sequenc using range function

x = range(1, 5)
for i in x:
    print(i, end=' ')
print()

x = range(5)
for i in x:
    print(i, end=' ')
print()

start = 4
end = 20
step = 2
x = range(start, end, step)

# uncomment this line and get an error
# x[2] = 42
for i in x:
    print(i, end=' ')
    
# Crate a mutable list
x = list(range(1,4))

1 2 3 4
0 1 2 3 4
4 6 8 10 12 14 16 18

In [16]:
# Create a dictionary, is a searchable sequence of key value pairs.
# dictionary is mutable

dis = {'one' : 1, 'two' : 2, 'three' : 3, 'four' : 4}
for i,j in dis.items():
    print('key : {} and value : {}'.format(i,j))
    
print(dis['three'])

key : one and value : 1
key : two and value : 2
key : three and value : 3
key : four and value : 4
3

**2.5 tpye() and id()**

In [17]:
x = (1, 2.0, 'three', [4, 'five'])

print('x is {}'.format(x))
print(type(x))
print(type(x[2]))
print(type(x[3]))

x is (1, 2.0, 'three', [4, 'five'])
<class 'tuple'>
<class 'str'>
<class 'list'>

In [18]:
# id function return unique numebr for each object

print(id(x))
print(id(x[2]))
print(id(x[3]))

4565495144
4565676304
4565616264